@model ForumNet.Web.ViewModels.Users.UsersDetailsViewModel

<div class="tt-col-btn">
    <div class="tt-list-btn">
        <a href="#" class="btn btn-primary">Message</a>
        <a id="follow-button" href="#" class="btn btn-secondary" onclick="follow('@Model.Id')">@(Model.IsFollowed ? "Following" : "Follow")</a>
    </div>
</div>