@model ForumNet.Web.ViewModels.Posts.PostsAllViewModel

@if (Model.TotalPages > 0)
{
    <div class="text-center">
        <nav>
            <ul class="pagination">
                <li><a href="/?page=@Model.PreviousPage">&laquo;</a></li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    var active = i == this.Model.PageIndex ? "active" : string.Empty;
                    <li>
                        <a class="@active"
                           asp-area=""
                           asp-controller="Posts"
                           asp-action="All"
                           asp-route-page="@i">
                            @i
                        </a>
                    </li>
                }
                <li><a href="/?page=@Model.NextPage">&raquo;</a></li>
            </ul>
        </nav>
    </div>
}