@model IEnumerable<ForumNet.Web.ViewModels.Chat.ChatConversationsViewModel>

<div class="tt-all-avatar">
    <div class="tt-list-avatar" style="overflow-y: auto; height:400px; display:block; word-break: break-word;">
        @if (this.Model.Any())
        {
            foreach (var conversation in this.Model)
            {
                <a onclick="location.href = '/Chat/WithUser/@conversation.Id';" href="#" class="tt-item">
                    <div class="tt-col-avatar">
                        @if (conversation.ProfilePicture.StartsWith("#icon-ava"))
                        {
                            <svg class="tt-icon">
                                <use xlink:href="@conversation.ProfilePicture"></use>
                            </svg>
                        }
                        else
                        {
                            <img src="https://res.cloudinary.com/forumnet/image/upload/t_profile-picture/@conversation.ProfilePicture"
                                 alt="avatar"
                                 class="tt-icon"
                                 width="40"
                                 height="40"
                                 style="border-radius: 50%" />
                        }
                    </div>
                    <div class="tt-col-description">
                        <h4 class="tt-title"><span>@conversation.UserName</span>  <span class="time">@conversation.LastMessageActivity</span></h4>
                        <div class="tt-message">@conversation.LastMessage</div>
                    </div>
                </a>
            }
        }
        else
        {
            <div class="tt-layout-404">
                <p>
                    You don't have any messages<br />
                    But you can <a asp-area="" asp-controller="Chat" asp-action="SendMessage" class="tt-color-dark tt-underline-02">send</a> one now.
                </p>
            </div>
        }
    </div>
</div>