@if (!this.User.Identity.IsAuthenticated)
{
    <div class="col-auto ml-auto">
        <div class="tt-account-btn">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Log in</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-secondary">Sign up</a>
        </div>
    </div>
}
else
{
    <vc:users-login-status></vc:users-login-status>
}