@model ForumNet.Web.ViewModels.Replies.RepliesCreateInputModel

<div class="tt-wrapper-inner">
    <div class="pt-editor form-default">
        <h6 class="pt-title">Post Your Reply</h6>
        <form class="form-default form-create-topic" asp-controller="Replies" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="PostId" value="@Model.PostId" hidden class="form-control" />
            </div>
            <div class="form-group">
                <textarea id="reply-create" asp-for="Description" placeholder="Lets get started"></textarea>
            </div>
            <div class="pt-row">
                <div class="col-auto ml-md-auto">
                    <input type="submit" value="Reply" class="btn btn-secondary" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#reply-create',
        height: 300,
        plugins: [
            'lists advlist link autolink image media preview hr anchor',
            'code codesample paste',
            'table emoticons help'
        ],
        toolbar: [
            'undo redo | styleselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent bullist numlist |',
            'forecolor backcolor emoticons | link image media codesample preview | help'
        ],
        link_default_protocol: "https",
        menubar: 'file edit view insert format table'
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
