@model ForumNet.Web.ViewModels.Replies.RepliesCreateInputModel

<div class="tt-wrapper-inner">
    <div class="pt-editor form-default">
        <h6 class="pt-title">Post Your Reply</h6>
        <form class="form-default form-create-topic" asp-controller="Replies" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="PostId" value="@Model.PostId" hidden class="form-control" />
            </div>
            <div class="form-group">
                <textarea id="reply-create" asp-for="Description" placeholder="Lets get started"></textarea>
            </div>
            <div class="pt-row">
                <div class="col-auto ml-md-auto">
                    <input type="submit" value="Reply" class="btn btn-secondary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    
    <partial name="_ValidationScriptsPartial" />
}
