@model ForumNet.Web.ViewModels.Replies.RepliesEditInputModel
@{
    ViewData["Title"] = "Edit Reply";
}

<div class="container">
    <div class="tt-wrapper-inner">
        <br />
        <h1 class="tt-title-border">
            @ViewData["Title"]
        </h1>
        <form class="form-default form-create-topic" asp-action="Edit">
            <div class="form-group">
                <textarea id="reply-edit" asp-for="Description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-auto ml-md-auto">
                    <input type="submit" value="Edit" class="btn btn-secondary" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    tinymce.init({
        selector: '#reply-edit',
        height: 400,
        plugins: [
            'lists advlist link autolink image media preview hr anchor',
            'code codesample paste',
            'table emoticons help'
        ],
        toolbar: [
            'undo redo | styleselect fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent bullist numlist |',
            'forecolor backcolor emoticons | link image media codesample preview | help'
        ],
        link_default_protocol: "https",
        menubar: 'file edit view insert format table'
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}