@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="tt-topic-list">
        <div class="tt-list-header">
            <div class="tt-col-topic">Topic</div>
            <div class="tt-col-category">Category</div>
            <div class="tt-col-value hide-mobile">Likes</div>
            <div class="tt-col-value hide-mobile">Replies</div>
            <div class="tt-col-value hide-mobile">Views</div>
            <div class="tt-col-value">Activity</div>
        </div>
        @*Think how to resolve this*@
        <div class="tt-topic-alert tt-alert-default" role="alert">
            <a href="#" target="_blank">4 new posts</a> are added recently, click here to load them.
        </div>
        @*Add foreach for all posts*@
        <div class="tt-item tt-itemselect">
            <div class="tt-col-avatar">
                <svg class="tt-icon">
                    <use xlink:href="#icon-ava-k"></use>
                </svg>
            </div>
            <div class="tt-col-description">
                <h6 class="tt-title">
                    <a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-pinned"></use>
                        </svg>
                        Halloween Costume Contest 2018
                    </a>
                </h6>
                <div class="row align-items-center no-gutters">
                    <div class="col-11">
                        <ul class="tt-list-badge">
                            <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">politics</span></a></li>
                            <li><a href="#"><span class="tt-badge">contests</span></a></li>
                            <li><a href="#"><span class="tt-badge">authors</span></a></li>
                        </ul>
                    </div>
                    <div class="col-1 ml-auto show-mobile">
                        <div class="tt-value">1h</div>
                    </div>
                </div>
            </div>
            <div class="tt-col-category"><span class="tt-color01 tt-badge">politics</span></div>
            <div class="tt-col-value hide-mobile">985</div>
            <div class="tt-col-value tt-color-select hide-mobile">502</div>
            <div class="tt-col-value hide-mobile">15.1k</div>
            <div class="tt-col-value hide-mobile">1h</div>
        </div>
        @if (!this.User.Identity.IsAuthenticated)
        {
            <div class="tt-item tt-item-popup" id="not-logged-in-user">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-f"></use>
                    </svg>
                </div>
                <div class="tt-col-message">
                    Looks like you are new here. Register for free, learn and contribute.
                </div>
                <div class="tt-col-btn">
                    <a type="button" class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Log in</a>
                    <a type="button" class="btn btn-secondary"asp-area="Identity" asp-page="/Account/Register">Sign up</a>
                    <script type="text/javascript">
                        var removeHtml = function () { document.getElementById("not-logged-in-user").remove() }
                    </script>
                    <button type="button" class="btn-icon" onclick="removeHtml()">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </button>
                </div>
            </div>
        }
        <div class="tt-row-btn">
            <button type="button" class="btn-icon js-topiclist-showmore">
                <svg class="tt-icon">
                    <use xlink:href="#icon-load_lore_icon"></use>
                </svg>
            </button>
        </div>
    </div>
</div>