@model IEnumerable<ForumNet.Web.ViewModels.Messages.ChatConversationsViewModel>

<div class="tt-all-avatar">
    <div class="tt-list-avatar" style="overflow-y: auto; height:400px; display:block; word-break:break-all">
        @if (Model.Any())
        {
            foreach (var conversation in Model)
            {
                <a onclick="location.href = '/Chat/WithUser/@conversation.Id';" href="#" class="tt-item">
                    <div class="tt-col-avatar">
                        <svg class="tt-icon">
                            <use xlink:href="@conversation.ProfilePicture"></use>
                        </svg>
                    </div>
                    <div class="tt-col-description">
                        <h4 class="tt-title"><span>@conversation.UserName</span></h4>
                    </div>
                </a>
            }
        }
        else
        {
            <div class="tt-layout-404">
                <p>
                    You don't have any messages<br />
                    But you can <a asp-area="" asp-controller="Chat" asp-action="SendMessage" class="tt-color-dark tt-underline-02">send</a> one now.
                </p>
            </div>
        }
    </div>
</div>