@{
    ViewData["Title"] = "Messages";
}

<div class="container">
    <div class="tt-messages-layout">
        <div class="row no-gutters">
            <div class="col-md-4 tt-aside" id="js-aside">
                <a asp-area="" asp-controller="Chat" asp-action="SendMessage" class="tt-title-aside">
                    <h2 class="tt-title">
                        @ViewData["Title"]
                    </h2>
                    <i class="tt-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </i>
                </a>

                <vc:chat-conversations></vc:chat-conversations>

            </div>
        </div>
    </div>
</div>