@{
    ViewData["Title"] = "Messages";
}

<div class="container">
    <br />
    <div class="tt-messages-layout">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a asp-area=""
                   asp-controller="Chat"
                   asp-action="SendMessage"
                   class="tt-title">
                    <h2 class="tt-title"
                        style="color: #182730;
                               font-size: 16px;
                               line-height: 26px;
                               font-weight: 600;
                               padding: 0;
                               margin: 0">
                        @ViewData["Title"]
                    </h2>
                    <i class="tt-icon"
                       style="position: absolute;
                              top: -25px;
                              right: 0;
                              padding: 21px 30px 10px 10px;
                              -webkit-transition: fill .2s linear;
                              transition: fill .2s linear;
                              fill: #666f74">
                        <svg class="icon" style="width: 19px; height: 18px">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </i>
                </a>
                <hr />

                <vc:chat-conversations></vc:chat-conversations>

            </div>
        </div>
    </div>
</div>