@using ForumNet.Web.Infrastructure.Extensions
@using ForumNet.Web.ViewModels.Chat
@model ChatSendMessageViewModel
@{
    ViewData["Title"] = "New message";
}

<div class="container">
    <div class="tt-messages-layout">
        <div class="row no-gutters">
            <div class="col-md-4 tt-aside" id="js-aside">
                <a href="#" class="tt-title-aside">
                    <h2 class="tt-title">
                        Messages
                    </h2>
                    <i class="tt-icon">
                        <svg class="icon">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </i>
                </a>

                <partial name="_ConversationsPartial" model="Model.Chats" />

            </div>
            <div class="col-md-8">
                <div class="tt-title-content">
                    <a href="#" class="tt-toggle-aside">
                        <i class="tt-icon">
                            <svg class="icon">
                                <use xlink:href="#icon-arrow_left"></use>
                            </svg>
                        </i>
                    </a>
                    <h2 class="tt-title">
                        @ViewData["Title"]
                    </h2>
                </div>
                <div class="tt-title-content">
                    <div class="col-md-4">
                        <div class="form-group">
                            <h2 class="tt-title">To:</h2>
                            <select asp-for="ReceiverId" id="input-user">
                                @foreach (var user in Model.Users.Where(u => u.Id != this.User.GetId()))
                                {
                                    <option value="@user.Id">@user.UserName</option>
                                }
                            </select>
                            <span asp-validation-for="ReceiverId"></span>
                        </div>
                    </div>
                </div>

                <partial name="_SendPartial" model="new ChatSendMessageInputModel { ReceiverId = Model.ReceiverId }" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#input-user').on('change', function () {
            var valueSelected = this.value;
            $("#addMessageForm input[name='ReceiverId']").val(valueSelected);
        });
        var $select = $('#input-user').selectize({
            create: false,
            sortField: 'text',
            placeholder: 'Type a name...'
        });
        $select.each(function () {
            $(this)[0].selectize.clear(true);
        });
    </script>
}