@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="tt-tab-wrapper">
        <div class="tt-loginpages">
            <div class="tt-title text-center">
                <h1>Manage your account</h1>
            </div>
            <div>
                <div class="tt-description text-center">
                    <h2>Change your account settings</h2>
                </div>
                <hr />
                <partial name="_ManageNav" />
                <br />
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}